body {
  background-color: #EEF9BF;
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

* {
  box-sizing: border-box;
}

.titulo {
  margin-top: 40px;
  margin-bottom: 47px;
  width: 100%;
  color: #75B79E;
  font-size: 56px;
  font-weight: 700;
  text-align: center;
}

.jogo{
  width: 1060px;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}

.card {
  width: 117px;
  height: 146px;
  margin-left: 34px;
  margin-bottom: 34px;
  position: relative;
}

.face {
  /*margin-left: 34px;
  margin-bottom: 34px;*/
  width: 117px;
  height: 146px;
  border-radius: 5px;
  background-color: #A7E9AF;
  border-color: #99CEA8;
  display: flex;
  align-items: center;
  position: absolute;
  backface-visibility: hidden;
  transition: all .5s;
  transform-style: preserve-3d;
}

.back-face {
  transform: rotateY(180deg);
}

.card.active .back-face {
  transform: rotateY(0deg);
}

.card.active .front-face {
  transform: rotateY(-180deg);
}

img{
  margin: auto;
  width: 100px;
  height: 100px;
}

@media(max-width: 335px){
  .titulo,
  .jogo{
    width: 100%;
  }
  
  .titulo{
    font-size: 36px;
    text-align: center;
  }
  
  .jogo{
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
  }
  }